@font-face {
    font-family: Roboto;
    src: url('Roboto-Regular.ttf');
}

body {
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/
    color: black;
    font-size: 16px;
    font-family: Roboto;
    
    
}

main {
    display: flex;
    flex-direction: column:
    margin: auto;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 20px;
}

p {
    margin: 0;
    line-height: 22px;
}

li {
    line-height: 22px;
}

div {
    margin-bottom: 5%;
}

.name {
    display: flex;
    margin: 0;
}

.name_photo {
    background-image: url('Photo.png');
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 5% 0 0;
}

.name_info {
    padding-top: 5%;
}

span {
    color: rgb(82, 82, 82);
}

.name, .info, .experience, .education, .courses, .add, .links {
    border-left: 1px solid rgb(82, 82, 82);
    border-right: 1px solid rgb(82, 82, 82);
    margin: 0 5%;
}
